<p id="notice"><%= notice %></p>

<p>
  <strong>Classname:</strong>
  <%= @spirit_class.ClassName %>
</p>

<%= link_to 'Edit', edit_spirit_class_path(@spirit_class) %> |
<%= link_to 'Back', spirit_classes_path %>
