<p id="notice"><%= notice %></p>

<p>
  <strong>Vesseltypename:</strong>
  <%= @vessel_type.VesselTypeName %>
</p>

<%= link_to 'Edit', edit_vessel_type_path(@vessel_type) %> |
<%= link_to 'Back', vessel_types_path %>
