<p id="notice"><%= notice %></p>

<p>
  <strong>Mdtypename:</strong>
  <%= @master_data_type.MDTypeName %>
</p>

<%= link_to 'Edit', edit_master_data_type_path(@master_data_type) %> |
<%= link_to 'Back', master_data_types_path %>
